.btn {

    &:visited,
    &:link {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 2em;
        display: inline-block;
        border-radius: 5rem;
        position: relative;
        transition: transform, box-shadow, 120ms ease-in-out;
        font-size: 1.6rem;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: rgba($color-black, 0.2) 0 1rem 1rem;
    }

    &:active {
        transform: translate(0.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
    }

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5rem;
        transition: transform, opacity, 200ms ease;
        z-index: -1;
    }

    &--white::after {
        background-color: $color-white;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .45s backwards;
    }

    &--white::after &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}